* {
    margin: 0;
    padding: 0;
    text-decoration: none;
}

#container {
    width: 90%;
    height: auto;
    margin: 0px auto;
    border: 1px solid rgba(225, 225, 226, 0.8);
    box-shadow: 0px 0px 10px #ccc;
    margin-top: 40px;
    margin-bottom: 40px;
    min-height: 600px;
}

#header {
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: wrap;
    height: 120px;
    border: 1px solid rgba(225, 225, 226, 0.8);
}

#logo {
    flex-grow: 1;
    flex-basis: 65%;
    padding: 10px;
    margin-left: 20px;
    text-shadow: 1px 1px 1px #ccc;
    text-transform: uppercase;
    font-family: helvetica;
    font-style: italic;
    font-weight: 600;
    font-size: 35px;

}

#logo h1 {
    font-family: helvetica;
    font-style: italic;
    font-weight: 600;
    font-size: 35px;
}

#menu {
    flex-grow: 2;
    flex-basis: 30%;
    height: 100%;
    padding-right: 20px;
}

#menu>ul {
    display: flex;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    list-style: none;
}

#menu a {
    color: #444;
    text-transform: uppercase;
    transition: all 300ms;
    padding: 10px;
}

#menu a:hover {
    background-color: #ccc;
    color: white;
}

#content {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

#proyects {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    flex-basis: 80%;

}

.proyect {
    flex-grow: 1;
    flex-basis: 200px;
    margin-bottom: 25px;
    border: 1px solid #ccc;
    margin-right: 20px;

}

.proyect img {
    width: 100%;
}

.proyect-info {
    padding: 10px;
}

.proyect-info a {
    color: black;
    font-size: 16px;
    transition: all 300ms;
}

.proyect-info a:hover {
    color: green;
}

.proyect-info p {
    color: gray;
}

#aside {
    flex-basis: 15%;
    margin-right: 30px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}

#aside h2 {
    display: block;
    width: 100%;
    font-size: 18px;
    font-weight: 100;
    color: #444;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(225, 225, 226, 0.8);
    text-align: center;
}

#aside ul {
    list-style: none;
}

#aside ul li {
    padding-bottom: 20px;
}

#aside a {
    display: block;
    padding: 20px;
    background: #eee;
    color: #444;
    transition: all 300ms;
    text-transform: uppercase;
    text-align: center;
}

#aside a:hover {
    background: #444;
    color: #eee;
}

#footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: start;
    height: 120px;
    align-items: center;
    border-top: 1px solid rgba(225, 225, 226, 0.8);
}

#footer #logo {
    opacity: 0.5;
    flex-basis: auto;
    flex-grow: 1;
}

.info {
    flex-grow: 1;
    text-align: end;
    margin-right: 20px;
}

@media (max-width: 1318px) {
    #header{
        text-align: center;
    }
  
    #menu  ul {
        justify-content: space-evenly;
        margin-top: 20px;
        align-items: flex-start;
    }
}

@media (max-width: 518px) {
  #content{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 20px;
    padding-bottom: 20px;
}

#aside{
    margin-right: 0px;
}

#aside ul{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
#aside ul li{
    flex-grow: 1;
    margin-left: 5px;
    margin-right: 5px;
}

.proyect{
    margin-left: 10px;
    margin-right: 10px;
}

#footer #logo {
    opacity: 0.5;
    flex-basis: auto;
    flex-grow: 1;
    text-align: center;
    margin: 0px;
}

  .info{
    margin: 0px;
    text-align: center;
  }
}   